.title {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-secondary-color);
  margin-bottom: 5px;
}

.input {
  border: 1px solid var(--separator-color);
  border-radius: 10px;
  padding: 22px 10px;
  width: 100%;
  background: var(--white-color);
  outline: none;
  margin-bottom: 20px;
  color: var(--text-color);
  box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
}

.input::placeholder {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-secondary-color);
}
