.layout {
  display: flex;
  min-height: 100vh;
}

.layout > * {
  flex: 0 0 50%;
}

.layout > *:first-child {
  border-right: 1px solid var(--separator-color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }

  .layout > .content {
    flex: 0 0 100%;
  }
}