.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

@media (max-width: 450px) {
  .wrapper {
    flex-direction: column;
    margin-bottom: 30px;
  }
}